* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  font-family: sans-serif;
}

.container {
  padding: 20px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: 400;
}

h2 {
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 600;
}

h3 {
  margin-bottom: 20px;
}

button {
  font-size: 1.2rem;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  margin-top: 30px;
}

button:hover {
  cursor: pointer;
}

.quiz_content {
  display: none;
}

.answer {
  background-color: #f1f1f1;
  padding: 15px;
  border-bottom: 1px solid white;
}

.total_scores {
  display: none;
}

.show {
  display: block;
}
